//anything reusable such as buttons, navbars, cards etc.
// Form
.form {
  &__input {
    max-width: 290px;
    width: 100%;
    margin: 0 5px;
    padding: 13px 27px;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    background: #fff;
    border: none;
    border-radius: 40px;
  }
  &__button {
    margin: 21px 0 0;
  }
}

// Buttons
.button {
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 20px;
  background: #19b5fe;
  border: none;
  border-radius: 40px;
  transition: all .3s ease;
  cursor: pointer;
  &:hover {
    background: #0f88c0;
  }
  &__rate {
    width: 191px;
    padding: 11px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    &:focus {
      background: #19b5fe;
      border: 1px solid #19b5fe;
    }
  }
}

// Section Title
.title {
  position: relative;
  font-size: 36px;
  font-weight: 300;
  color: #363636;
  line-height: 38px;
  &:after {
    position: absolute;
    bottom: -23px;
    left: 50%;
    width: 380px;
    height: 2px;
    background: #19b5fe;
    transform: translateX(-50%);
    content: "";
  }
}
