// Extra small devices (portrait phones, less than 375px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 375px and up)
@media (min-width: 375px) { 
 
 }
 // Extra small devices (portrait phones, less than 425px)


// Small devices (landscape phones, 425px and up)
@media (min-width: 425px) { 
 
 }

 // Small devices (landscape phones, 575px and up)
@media (min-width: 575px) { 
 
 } 
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }


// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
  .container {
    padding: 0 15px;
  }
  .price__inner {
    justify-content: center;
  }
  .price-calculator__inner {
    margin-bottom: 30px;
    max-width: 650px;
    width: 100%;
  }
  .advantages__inner {
    justify-content: center;
  }
  .process__inner {
    justify-content: center;
  }
  .process__item {
    margin-bottom: 15px;
    order: 1;
  }
   blockquote::before {
    left: -19px;
  }
   blockquote::after {
    right: -19px;
  }
  .blog__inner {
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .blog__item {
    margin-bottom: 50px; 
  }
 }


// Medium devices (tablets, less than 1024px)
@media (max-width: 1023.98px) {
 blockquote::before {
    display: none;
  }
   blockquote::after {
    display: none;
  }
  .contact {
    background-size: cover;
  }
  .contact__input {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
  .hero__form {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .hero__heading,
  .hero__subtitle {
    margin-bottom: 25px;
  }
  .form__input {
    margin-bottom: 20px;
  }
  .form__button {
    margin: 0;
  }
  .hero__form::after {
    display: none;
  }
  .scroll-down {
    bottom: 10px;
  }
  .portfolio-nav {
    display: block;
  }
  .portfolio-nav__item {
    border: 1px solid #19b5fe;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
  }
  .portfolio .mixitup-control-active {
    transform: scale(1);
  }
  .portfolio-nav__item:first-child,
  .portfolio-nav__item:last-child {
    border-right: 1px solid #19b5fe;
    border-radius: 5px;
  }
  .portfolio-nav__item:after {
    display: none;
  }
 }

 // Small devices (landscape phones, less than 800px)
@media (max-width: 799.98px) { 
  .services__row {
    flex-direction: column;
    align-items: center;
  }
  .services__body {
    &--order {
      order: 0;
    }
  }
  .services__button {
    margin: 0 auto 30px;
  }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  .hero__heading {
    line-height: 1.5;
    font-size: 18px;
  }
  .hero__subtitle {
    font-size: 28px;
  }
  .hero__text {
    display: none;
  }
  .services__body {
    padding-right: 0;
  }
  .services__body--order {
    padding-left: 0;
  }
  .calculator {
   width: 100%;
  }
  .process__item img {
    width: 100%;
  }
 

}

 // Extra small devices (portrait phones, less than 650px)
@media (max-width: 649.98px) { 
  .button__row {
    justify-content: center;
  }
  .button__rate {
    margin: 5px;
  }
  .contact__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact__list {
    margin-top: 50px;
  }
  .contact__items {
    padding-left: 40px;
  }
  .footer-nav__list {
    column-count: 2;
  }
  .portfolio-nav__item {
    width: 100%;
  }
} 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .menu__mobile {
    margin-left: 30px;
  }
   .hero__title {
    margin: 0;
    font-size: 36px;
  }
  .hero__heading {
    display: none;
  }
  .form__input {
    margin-bottom: 10px;
  }
  .advantages__item {
    margin-bottom: 30px;
  }
  .advantages-row {
    flex-wrap: wrap;
    & .advantages__item {
    margin-bottom: 30px;
    }
  }
  .advantages__inner {
    margin-bottom: 0;
  }
  .process__subtitle {
    font-size: 26px;
  }
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-nav__item {
    margin-bottom: 10px;
  }
  .footer-nav {
    margin-bottom: 30px;
  }
  
}

// Extra small devices (portrait phones, less than 480px)
@media (max-width: 479.98px) { 
  .header__contact {
    display: none;
  }
  .title:after {
    width: 260px;
  }
  .price-result__button {
    max-width: 100%;
  }
}
