@import "libs";
@import "fonts";
@import "base";
@import "components";
@import "layout";

// Varible
$font-family-base: "Roboto", sans-serif;
$btn-background: #19b5fe;
$blue-text: #19b5fe;
$text-color: #464646;
$title-color: #363636;

body {
  font-family: $font-family-base, sans-serif;
  font-weight: normal;
  color: $text-color;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*
 *  Header section
 */
.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  &-fixed {
    background: rgba(0, 0, 0, 0.6);
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;
  }
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contact {
    display: flex;
    img {
      margin-right: 13px;
    }
  }
  &__phone {
    a {
      display: block;
      font-size: 21px;
      color: #fff;
      line-height: 1;
    }
    span {
      font-size: 14px;
      font-weight: 300;
      color: #fff;
      line-height: 24px;
    }
  }
}

/* Menu */
.menu {
  position: relative;
  &__list {
    position: absolute;
    top: 90px;
    right: -15px;
    width: 320px;
    margin: 0;
    padding: 20px;
    background: $btn-background;
    list-style: none;
    display: none;
    &.active {
      display: block;
    }
  }
  &__item {
    a {
      display: block;
      margin: 5px 0;
      padding: 10px;
      font-size: 16px;
      color: #fff;
      transition: all 0.5s ease;
      &:hover {
        background: #108cc5;
        text-decoration: none;
      }
    }
  }
  &__mobile {
    margin-left: 80px;
    padding-top: 10px;
    text-align: center;
    span {
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      line-height: 20px;
    }
  }
  &__burger {
    position: relative;
    width: 45px;
    height: 20px;
    cursor: pointer;
    span {
      position: absolute;
      top: 9px;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      transition: all 0.4s ease;
    }
    &::after,
    &::before {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      content: "";
      transition: all 0.4s ease;
    }
    &::after {
      bottom: 0;
    }
    &::before {
      top: 0;
    }
    &.active::before {
      top: 9px;
      transform: rotate(45deg);
    }
    &.active::after {
      top: 9px;
      transform: rotate(-45deg);
    }
    &.active span {
      display: none;
    }
  }
}

/*
 *  Hero section
 */
.hero {
  position: relative;
  height: 700px;
  padding-top: 150px;
  background: url(../images/hero/hero-bg.jpg) center no-repeat;
  text-align: center;
  z-index: 9998;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.74);
    content: "";
    z-index: -1;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 940px;
    margin: 0 auto 20px;
    &::after {
      position: absolute;
      top: 25px;
      left: 0;
      width: 100%;
      height: 76px;
      border: 1px solid #8f8e84;
      content: "";
      z-index: -1;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
  }
  &__subtitle {
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    line-height: 44px;
  }
  &__heading {
    display: inline-block;
    margin-bottom: 45px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 24px;
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 28px;
  }
}
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 55px;
  transform: translateX(-50%);
}

/*
 *  Services section
 */
.services {
  padding: 60px 0 70px;
  &__title {
    text-align: center;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 555px;
    padding-right: 15px;
    &--order {
      order: 1;
      padding-left: 15px;
      padding-right: 0;
    }
  }

  &__subtitle {
    font-size: 28px;
    font-weight: 300;
    color: $blue-text;
    line-height: 39px;
  }
  &__text {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }
  &__button {
    min-width: 180px;
    padding: 15px;
    font-size: 14px;
    font-weight: normal;
  }
  &__image {
    max-width: 550px;
    img {
      max-width: 100%;
      height: auto;
      transition: all 1s ease;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    &--order {
      order: 0;
    }
  }
}

/*
 *  Price section
 */
.price {
  position: relative;
  min-height: 620px;
  padding: 60px 0 70px;
  background: url(../images/price/price-bg.jpg) center no-repeat;
  background-size: cover;
  z-index: 9998;
  &::after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    z-index: -1;
  }
  &__title {
    margin-bottom: 37px;
    color: #fff;
    text-align: center;
    &::after {
      background: #fff;
    }
  }
  &__subtitle {
    font-size: 26px;
    font-weight: 300;
    line-height: 38px;
    color: #fff;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  &__button {
    &:last-child {
      margin-right: 0;
    }
  }
  &-result {
    max-width: 470px;
    width: 100%;
    text-align: center;
    &__item {
      margin-bottom: 15px;
    }
    &__title {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #fff;
    }
    &__count {
      font-size: 32px;
      font-weight: normal;
      line-height: 1;
      color: #fff;
    }
    &__text {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #fff;
      a {
        display: block;
        font-size: 18px;
        font-weight: normal;
        color: #fff;
      }
    }
    &__button {
      width: 310px;
      margin-top: 11px;
      padding: 16px;
      font-size: 14px;
      line-height: 15px;
    }
  }
}
.button__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.calculator {
  width: 650px;
  padding: 20px 20px 25px;
  border: 1px solid #fff;
  border-radius: 5px;
  &__title {
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    color: #fff;
  }
}
.rate {
  margin-top: 8px;
  @extend .calculator;
  &__title {
    @extend .calculator__title;
  }
}

/* Tooltips */
.con-tooltip {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: 0.4;
  min-width: 320px;
  width: 100%;
  padding: 25px 35px;
  background: #fff;
  color: #464646;
  position: absolute;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 24px 0 24px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
}
.con-tooltip:hover .tooltip {
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  transition: 0.3s linear;
  animation: outside 1s ease-in-out infinite alternate;
}
@keyframes outside {
  0% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(1px);
  }
}
.bottom:hover {
  transform: translateY(6px);
}
.bottom .tooltip {
  top: 115%;
  left: -34%;
}
.bottom .tooltip::after {
  top: -15%;
  left: 50%;
  transform: rotate(180deg) translateX(50%);
}
.irs--big .irs-min,
.irs--big .irs-max {
  top: 0;
  color: white;
  text-shadow: none;
  background-color: transparent;
  font-size: 16px;
}
.irs--big .irs-handle,
.irs--big .irs-handle:hover,
.irs--big .irs-handle:focus {
  top: 27px;
  width: 24px;
  height: 24px;
  border: 9px solid #19b5fe;
  background: #fff;
  border-radius: 30px;
  cursor: pointer;
}
.irs--big .irs-line {
  background: rgba(255, 255, 255, 0.5);
}
.irs--big .irs-bar {
  background: transparent;
  border: 6px solid #428bca;
}
.irs--big .irs-single {
  background: transparent;
}

/*
 *  Portfolio section
 */
.portfolio {
  padding: 50px 0 20px;
  &__title {
    margin-bottom: 50px;
    text-align: center;
  }
  &-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 25px;
    padding: 0;

    &__item {
      position: relative;
      margin: 3px 0 3px;
      padding: 12px 25px;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
      color: $blue-text;
      border-top: 1px solid $blue-text;
      border-bottom: 1px solid $blue-text;
      text-transform: uppercase;
      cursor: pointer;
      &.active {
        color: #fff;
        background: $btn-background;
        transform: scale(1.1);
        border-radius: 5px;
      }
      &:after {
        content: "";
        position: absolute;
        top: 10%;
        right: 0;
        display: block;
        height: 80%;
        width: 1px;
        background: $blue-text;
      }
      &:first-child {
        border-left: 1px solid $blue-text;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        border-right: none;
      }
      &:last-child {
        border-right: 1px solid $blue-text;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        &:after {
          display: none;
        }
      }
    }
  }
  &__item {
    position: relative;
    width: 360px;
    height: 260px;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/*
 *  Advantages section
 */
.advantages {
  padding: 50px 0 70px;
  background-color: #f5f9fa;
  &__title {
    margin-bottom: 65px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  &__item {
    max-width: 265px;
    text-align: center;
  }
  &__icon {
    height: 65px;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 14px;
    font-weight: normal;
    color: #3f3f3f;
    line-height: 20px;
  }
  &-row {
    display: flex;
    justify-content: center;
    .advantages__item {
      max-width: 265px;
      width: 100%;
      margin: 0 1%;
    }
  }
  &__icon:after {
    content: "";
    display: block;
    height: 1px;
    width: 125px;
    margin: auto;
    margin-top: 15px;
    background: $btn-background;
  }
}

/*
 *  Process section
 */
.process {
  padding: 70px 0;
  &__title {
    margin-bottom: 60px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__subtitle {
    display: block;
    max-width: 570px;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    color: #464646;
    text-align: center;
  }
}

/*
 *  Customers section
 */
.customers {
  padding: 50px 0;
  background-color: #f5f9fa;
  &__title {
    margin-bottom: 60px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*
 *  Team section
 */
.team {
  padding: 65px 0;
  &__title {
    margin-bottom: 70px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__item {
    max-width: 375px;
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;
  }
  &__img {
    max-width: 225px;
    margin: 0 auto 23px;
    img {
      border-radius: 50%;
      width: 100%;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        border: 5px solid #19b5fe;
      }
    }
  }
  &__worker {
    font-size: 24px;
    font-weight: 300;
    line-height: 27px;
    color: $blue-text;
  }
  &__position {
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    color: $text-color;
  }
  &__blockquote {
    max-width: 975px;
    width: 100%;
    margin: 0 auto;
  }
  &__blockquote {
    text-align: center;
  }
}

.blockquote {
  &__title {
    font-size: 30px;
    font-weight: 300;
    color: $title-color;
  }
}
blockquote {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: $title-color;
  cite {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: $title-color;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -80px;
    display: block;
    height: 37px;
    width: 47px;
    background: transparent url(../images/team/quote-icon2.svg) center no-repeat;
  }
  &::before {
    content: "";
    position: absolute;
    top: -60px;
    left: -80px;
    display: block;
    height: 37px;
    width: 47px;
    background: transparent url(../images/team/quote-icon.svg) center no-repeat;
  }
}

/*
 *  Blog section
 */
.blog {
  padding: 50px 0 60px;
  background: #f5f9fa;
  &__title {
    margin-bottom: 60px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: block;
    max-width: 555px;
    text-align: center;
  }
  &__img {
    min-height: 320px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__excerpt {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: $blue-text;
    &:hover,
    &:focus {
      color: $blue-text;
      text-decoration: underline;
    }
  }
}

/*
 *  Contact section
 */
.contact {
  position: relative;
  padding: 60px 0 70px;
  min-height: 530px;
  background: url(../images/contact/contact-bg.jpg) center no-repeat;
  z-index: 9999;
  &__title {
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
    &.title::after {
      background: #fff;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
  &__subtitle {
    margin-bottom: 50px;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__form {
    max-width: 750px;
    width: 100%;
    form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__input {
    max-width: 240px;
    width: 100%;
    margin: 0;
    border-radius: 5px;
  }
  &__button {
    margin: 0 auto;
    padding: 18px 46px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }
  &__textarea {
    margin-bottom: 18px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    position: relative;
    margin-bottom: 20px;
    a {
      font-size: 18px;
      font-weight: medium;
      line-height: 24px;
      color: #fff;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -39px;
      height: 25px;
      width: 25px;
      border: 1px solid #fff;
      border-radius: 5px;
    }
    &--phone {
      &::before {
        background: transparent url(../images/contact/phone-icon.svg) center no-repeat;
      }
    }
    &--whatsapp {
      &::before {
        background: transparent url(../images/contact/whatsapp-icon.svg) center no-repeat;
      }
    }
    &--email {
      &::before {
        background: transparent url(../images/contact/email-icon.svg) center no-repeat;
      }
    }
    &--skype {
      &::before {
        background: transparent url(../images/contact/skype-icon.svg) center no-repeat;
      }
    }
    &--telegram {
      &::before {
        background: transparent url(../images/contact/telegram-icon.svg) center no-repeat;
      }
    }
  }
}
.сontact__work-schedule {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
}
.form {
  textarea {
    margin-top: 15px;
    max-width: 750px;
    width: 100%;
    min-height: 120px;
    padding: 13px 27px;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    background: #fff;
    border-radius: 5px;
  }
}

/*
 *  Footer section
 */
.footer {
  background: #24241f;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &-top {
    padding: 40px 0 55px;
    border-bottom: 1px solid rgba(255,255,255,.2);
  }
  &-nav {
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      column-count: 3;
      a {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        color: #fff;
      }
    }
  }
  &-social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    &__title {
      margin-bottom: 9px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      color: #fff;
    }
    &__item {
      a {
        display: inline-block;
        height: 28px;
        width: 28px;
        margin-right: 7px;
        border: 1px solid #fff;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  &-bottom {
    padding: 45px 0;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__copyright {
    @extend .сontact__work-schedule;
    font-size: 14px;
  }
  &__link {
    @extend .footer__copyright;
    a {
      color:$blue-text;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}




//Media Query
@import "media";
